@import "../../Global";

.channel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 100px 100px;
  background-color: $lightColor;

  @include mobile {
    padding: 20px;
  }
}
